body {

background-color: #ffffff;
font-family: PT Sans, Cuprum, sans-serif;
margin: 0px;
padding: 0px;
}

a {
  text-decoration: none;
}
.logo {

background-image: url(../img/red_block.png);
position: absolute;
left: 130px;
top: -4px;
width: 220px;
height: 51px;
z-index: 228;

}

.main_logo img {

display: block;

}

.describe {
width: 226px;
height: 71px;
left: 182px;
top: 84.5px;

font-family: Cuprum;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* or 144% */
display: flex;
align-items: center;

color: #EE3643;

}

.main_menu,
.footer_top_menu,
.footer_up_menu {

list-style-type: none;

}

.main_menu li,
.footer_top_menu li,
.footer_up_menu li {

display: inline-block;

}

.button {

  display: flex;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  border-color: #ee3643;
  align-items: center;
  text-align: center;
  text-decoration: none;
  user-select: none;
  font-size: 14px;
  color: #ffffff;

}

.circle {

  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #212a3a;
  display: inline-block;

}

#link a:link{color: #ffd180; text-decoration: none;}
#link a:hover{color: #ffd180; text-decoration: underline;}
#link a:active{color: #ee3643; text-decoration: underline;}


.form_wrap {
  width: 620px;
  height: 430px;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  left: 251px;
  top: 2501px;
  box-shadow: 0px 0px 2px 40px black;
  padding-top: 44px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 37px;
}

.grey_form {
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
  z-index: 2;
}

div label input {
  border-color: #dee3e4;
  border-style: solid;
  padding: 12px 14px;
  text-align: left;
}

input[name="text"] {
 width: 460px;
 height: 114px;
}

/*
.write_us {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 3151px;
  z-index: 247;
}
.Ваше_имя: {
  font-size: 5px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 396.577px;
  top: 2578.933px;
  z-index: 245;
}
.Имя_Фамилия {
  font-size: 3.709px;
  font-family: "PT Sans";
  color: rgb(169, 169, 169);
  line-height: 1.384;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 413.662px;
  top: 2616.933px;
  z-index: 244;
}
.Layer_5_copy_17 {
  background-image: url("Layer 5 copy 17.png");
  position: absolute;
  left: 366px;
  top: 2597px;
  width: 228px;
  height: 46px;
  z-index: 243;
}
.Ваш_e_mail: {
  font-size: 5px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 639.037px;
  top: 2578.933px;
  z-index: 242;
}
.email_example_com {
  font-size: 3.709px;
  font-family: "PT Sans";
  color: rgb(169, 169, 169);
  line-height: 1.384;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 668px;
  top: 2623.294px;
  z-index: 241;
}
.Layer_5_copy_18 {
  background-image: url("Layer 5 copy 18.png");
  position: absolute;
  left: 606px;
  top: 2597px;
  width: 228px;
  height: 46px;
  z-index: 240;
}
.Текст_письма: {
  font-size: 5px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 404.375px;
  top: 2664.933px;
  z-index: 239;
}
.В_свободной_форме {
  font-size: 3.709px;
  font-family: "PT Sans";
  color: rgb(169, 169, 169);
  line-height: 1.384;
  text-align: left;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 426.126px;
  top: 2708.825px;
  z-index: 238;
}
.Layer_5_copy_21 {
  background-image: url("Layer 5 copy 21.png");
  position: absolute;
  left: 366px;
  top: 2683px;
  width: 468px;
  height: 122px;
  z-index: 237;
}
.ОТПРАВИТЬ {
  font-size: 4px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  -moz-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -webkit-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  -ms-transform: matrix( 3.50541372649093,0,0,3.50541372649093,0,0);
  position: absolute;
  left: 590.593px;
  top: 2891.432px;
  z-index: 236;
}
.send_btn {
  background-image: url("send btn.png");
  position: absolute;
  left: 370px;
  top: 2875px;
  width: 460px;
  height: 38px;
  z-index: 235;
}
.Layer_124_copy {
  background-image: url("Layer 124 copy.png");
  position: absolute;
  left: 290px;
  top: 2838px;
  width: 620px;
  height: 112px;
  z-index: 234;
}
.Layer_124 {
  background-image: url("Layer 124.png");
  position: absolute;
  left: 290px;
  top: 2520px;
  width: 620px;
  height: 7px;
  z-index: 233;
}
.Layer_36 {
  background-image: url("Layer 36.png");
  position: absolute;
  left: 251px;
  top: 2501px;
  width: 699px;
  height: 509px;
  z-index: 232;
}

*/
